html{
    background-color: #ffffff;
}
body{
    margin: 0%;
}
#TOP_ELEMENT{
    position: fixed;
    background-color: #E57C23;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    z-index: 999;
}
#Logo{
    width: 200px;
    height: 100px;  
}
.menu>.upper{    
    list-style: none;
    text-align: center;
    padding-right: 10px;
    display: flex;
    gap: 20px; 
}
.menu>.lower{
    list-style: none;
    text-align: center;
    padding-right: 10px;
    display: flex;
    gap: 30px; 
}
.menu{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.menu a{
    text-decoration: none;
    font-family: sans-serif;
    font-size: 10pt;
    color: white;
}
.cover{
    width: 100%;
    height:56.25%;
    background-clip: border-box;
}
#type{
    display: flex;
    gap: 50px;

    padding-left: 15px;
}
#details{
    display: flex;
    gap: 20px;
}
.booking{
    list-style: none;
    display: flex;
    gap: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(238, 247, 246);
    border: 1px solid grey;
    max-width: 1150px;   
    height: 200px;
    margin: auto;
    position: relative;
    top: -50px;
    padding-left: 15px;
    padding-right: 15px ;
}
.booking .place,.date,#flight_class,#passengers{
    height: 50px;
    border: 0px;
}
/*.booking .place,.date,#flight_class,#passengers:focus{
    outline: none;
}*/
.booking .details{
    border: 1px solid black;
    background-color: white;
}
footer{
    text-align: center;
}
@media(min-width:1015px) and (max-width:1200px){
    .booking{
        max-width: 96%;
    }    
}
@media(min-width:480px) and (max-width:1014px){
    .booking{
        max-width: 80%;
        height: 300px;
    }
    #details{
        display: grid;
        grid-template-rows: repeat(3,auto);
        grid-template-columns: repeat(2,auto)
    }
    .cover{
        height: 45vh;
        width: 100vw;
        object-fit: cover;
        object-position: center;
    }

}
@media(max-width:480px){
    .cover{
        height: 45vh;
        width: 100vw;
        object-fit: cover;
        object-position:center;
    }
    .booking{
        max-width: 85vw;
        height: 100vh;
    }
    #details{
        display: flex;
        flex-direction: column;
    }
    input[type=date], input[type=text]{
       width:70vw;
    }
}
